a:link {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.caja {
    background-color: #3B6B8E;
    border: 1px solid #000;

}


@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
}